*{
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background-color: #F40076;
}

.page-wrapper h1{
    font-size: 35px;
    text-align: center;
}

.page-wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #7d0640;
    border-radius: 15px;
}

nav a{
    padding: 5px;
    background-color: #f400765b;
    border-radius: 5px;
}

nav ul{
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a:hover{
    background-color: #3a041ea9;
}

.card{
    background-color: #3a041ea9;
    padding: 5px;
    border-radius: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card h2{
    margin: 10px;
}

.card p{
    margin: 10px;
}

.page-wrapper-gallery h1{
    font-size: 35px;
    text-align: center;
}

.page-wrapper-gallery{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #7d0640;
    border-radius: 15px;
}

.grid-container-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.pics{
    padding: 10px;
}